body {background-color: #99ccff}
h1 {font-family: sans-serif; border-style: dotted; border-color: white; color: white}
h2 {color: #4da6ff; border-style: dashed; border-color: black; background: #eff5f5; font-family: courier new}
h4 {font-family: lucida console;}
p {font-family: sans-serif;}
